<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<mat-card>
  <mat-card-content>
    <form #form='ngForm' (ngSubmit)="onSubmit()">
      <h1>Login</h1>
      <img src="../../../assets/img/avatar3.png" alt="Avatar" class="avatar" >

      <div>
        <mat-error *ngIf="isInvalid">
          Invalid username and password.
        </mat-error>

        <mat-error *ngIf="isLogout">
          You have been logged out.
        </mat-error>
      </div>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email"  id="email" name="email" placeholder="Enter email"
               required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
      </mat-form-field>
      <mat-error  [hidden]="email.valid || email.pristine">
        Email required
      </mat-error>

      <br>
      <mat-form-field class="full-width-input">
        <input matInput type="password" id="password" name="password"  autocomplete="password"
               placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'>
      </mat-form-field>
      <mat-error [hidden]="password.valid || password.pristine" >
        Password is required
      </mat-error>
      <mat-checkbox id="remember_me" name="remember-me" [(ngModel)]="model.remembered" color="primary"> Remember me</mat-checkbox>
      <a class="float-right" routerLink="/register">Sign Up</a>

      <div class="form-group">
        <br>
        <button mat-raised-button  [disabled]="!form.form.valid"  color="primary">Login</button>
      </div>
    </form>

    <div class="container mt-5">
      <button class="loginBtn loginBtn&#45;&#45;google" #loginRef (click)="ok()">
        <mat-icon style="width: 90px; height:40px" svgIcon="logo"></mat-icon> Login With Google
      </button>
    </div>



  </mat-card-content>
</mat-card>





<!--
<h1 align="center" class="display-4 mb-5">Sign In</h1>
<div style="width:40%; margin: 25px auto">

    <div class="alert alert-danger" *ngIf="isInvalid">
        Invalid username and password.
    </div>
    <div class="alert alert-info" *ngIf="isLogout">
        You have been logged out.
    </div>


    <strong>Sample Users</strong>


  <table style="width: 100%;" id="sampleLoginTable">
    <tr>
        <td><a
          (click)="fillLoginFields('customer1@email.com','123')"
          href="javascript:void(0)">customer1</a></td>
        <td><a
          (click)="fillLoginFields('employee1@email.com','123')"
          href="javascript:void(0)">employee1</a></td>
        <td><a
          (click)="fillLoginFields('manager1@email.com','123')"
          href="javascript:void(0)">manager1</a></td>
    </tr>
  </table>
  <form #form='ngForm' (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email address</label>
      <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Enter email"
             required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Email is required
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
             placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Email is required
      </div>
    </div>

    <div class="form-group">
      <div>
        <input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
        <label for="remember_me" class="inline">Remember me</label>
        <a class="float-right" routerLink="/register">Sign Up</a>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="!form.form.valid" type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
    </div>

  </form>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto ">
        <button class="loginBtn loginBtn&#45;&#45;google" #loginRef (click)="ok()">
          <mat-icon style="width: 90px; height:40px"
                    svgIcon="logo"></mat-icon> Login With Google
        </button>
      </div>
    </div>
  </div>

</div>
-->
