button{
  background-color: #007bff;
  color: white;
}

button:hover{
  color: yellow;
  text-decoration: white;
}

.avatar {
  alignment: center;
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: block;
}
